html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body, 
.header {
    display: flex;
    flex-direction: column;
}

.header {
    background: url(images/1349325.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-around;
    position: sticky;
    background-color: rgb(255, 123, 0);
    background: linear-gradient
    (90deg, rgba(255, 123, 0, 1) 0%, rgba(236, 143, 36, 1) 100%);
    border: 2.5mm ridge rgba(236, 143, 36, 0.753);
    top: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 1000000;
}

.LOGO {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

ul,
p {
    font-size: 18px;
    color: #E5E7EB;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-basis: 50%;
    gap: 16px;
}

img {
display: flex;
justify-content: left;
border-radius: 15px;
}

.box img {
    border-radius: 19px;
}

button {
    background-color: rgb(255, 123, 0);
    color: #333333; /* Gris oscuro */    
    border: 2mm ridge rgba(236, 143, 36, 0.753);
    font-weight: 700;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
    width: 160px;
}

.information h1 {
font-size: 36px;
color: #F9FAF8;
font-weight: 900px;
margin-bottom: 16px;
z-index: 9999;
padding-top: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.background {
    background: url(./images/yerba.png) fixed;
    background-size: cover;
    filter: blur(3px);
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    background-size: none;
    background-repeat: repeat;
    padding-bottom: 82px;
}

.boxes {
    z-index: 9999;
    display: flex; 
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

.boxxes {
    z-index: 9999;
    display: flex; 
    text-align: center;
    justify-content: space-around;
    gap: 24px;
}

.box {
    width: 200px;
}

.box .leyenda {
color: transparent;
}

.box:hover .leyenda{
    color: #E5E7EB; 
}

.box img {
    margin-bottom: 6px;
    transition: ease 0.2s;
}

.box img:hover {
transform: scale(1.05);
}

.box p {
    font-size: 18px;
}

.quote {
    background: url(images/1349325.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 20%;
    padding-right: 20%;
}

.quote p {
    font-size: 36px;
    color: #F9FAF8;
    font-style: italic;
    font-weight: light;
    text-align: center;
}

#author {
    font-size: 24px;;
    text-align: right;
    font-weight: 700;
    font-style: normal;
}

#f {
    color: black;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 0;
}

#n {
    background-color: rgb(255, 123, 0);
    border: 2mm ridge rgba(236, 143, 36, 0.753);
    border-radius: 15px;
}












